<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<title>Student Directory</title>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <h3> Student Directory</h3>

    <!-- Add New Employee Button -->
    <a th:href="@{/student/registration}" class="btn btn-primary btn-sm mb-3"> Add
        Student</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>List Name</th>
            <th>Classification</th>
            <th>Email Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aStudent : ${students}">
            <td th:text="${aStudent.firstName}"></td>
            <td th:text="${aStudent.lastName}"></td>
            <td th:text="${aStudent.classification}"></td>
            <td th:text="${aStudent.email}"></td>
            <td>
                <a th:href="@{/student/update(id=${aStudent.studentId})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/student/delete(id=${aStudent.studentId})}"
                    class="btn btn-danger btn-sm"
                   onClick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>