<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<title>Register New Student</title>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <form th:action="@{/student/save}" th:object="${student}" method="POST">

        <input type="text" placeholder="First Name" th:field="*{firstName}">

        <input type="text" placeholder="Last Name" th:field="*{lastName}">

        <input type="number" placeholder="Age" th:field="*{age}">

        <select th:field="*{classification}">
            <option th:value="Freshman"> Freshman</option>
            <option th:value="Sophomore"> Sophomore</option>
            <option th:value="Junior"> Junior</option>
            <option th:value="Senior"> Senior</option>
        </select>

        <input type="text" placeholder="Student Email" th:field="*{email}">

        <button type="submit">Register Student</button>

    </form>
</div>

</body>
</html>