<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"> </head>
<title>Register Result</title>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <h4>Main Dashboards</h4>
    <a th:text="${versionNumber}"></a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aCourse : ${courses}">
                <td th:text="${aCourse.courseName}" />
                <td th:text="${aCourse.stage}" />
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <h4>Current Student</h4>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Classification</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.firstName}" />
            <td th:text="${student.lastName}" />
            <td th:text="${student.classification}" />
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>