<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<title>Create New Course</title>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <form action="/course/save" th:object="${course}" method="POST">

        <input type="text" placeholder="Course Name" th:field="*{courseName}">

        <input type="text" placeholder="Course Credit" th:field="*{courseCredit}">

        <select th:field="${course.stage}">
            <option th:value="Empty"> Empty</option>
            <option th:value="Almost-Full"> Almost Full</option>
            <option th:value="Full"> Full</option>
        </select>

        <textarea type="text" placeholder="Enter course Description"
                  th:field="${course.description}"></textarea>

        <button type="submit">Create Course</button>

    </form>
</div>

</body>
</html>