<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<title>Create New Course</title>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <form th:action="@{/course/save}" th:object="${course}" method="POST">

        <div class="form-group row">
            <input type="hidden" th:field="*{courseId}" />
        </div>
    
        <div class="form-group row">
            <input type="text" placeholder="Course Name" th:field="*{courseName}">
            <span th:if="${#fields.hasErrors('courseName')}"
                  th:errors="*{courseName}">
            </span>
        </div>
        
        <div class="form-group row">
            <input type="text" placeholder="Course Credit" th:field="*{courseCredit}">
            <span th:if="${#fields.hasErrors('courseCredit')}"
                  th:errors="*{courseCredit}">
            </span>
        </div>

        <div class="form-group row">
            <select th:field="${course.stage}">
                <option th:value="Empty"> Empty</option>
                <option th:value="Almost-Full"> Almost Full</option>
                <option th:value="Full"> Full</option>
            </select>
            <span th:if="${#fields.hasErrors('stage')}"
                  th:errors="*{stage}">
            </span>
        </div>
        
        <div class="form-group row">
            <textarea type="text" placeholder="Enter course Description"
                  th:field="${course.description}">
            </textarea>
            <span th:if="${#fields.hasErrors('description')}"
                  th:errors="*{description}">
            </span>
        </div>

        <div class="form-group row">
            <select th:field="*{students}" multiple="multiple">
                <option th:each = "student : ${allStudents}"
                        th:value = "${student.studentId}"
                        th:text = "${student.firstName}" >
            </select>
        </div>
        
        <div class="form-group row">
            <button id="courseBtn" class="btn btn-info col-2" type="submit">Create
                Course</button>
        </div>

    </form>
</div>

</body>
</html>